body{
  background-color: #74959A
}
hr{
  background-color:#74959A;
  border-style:none;
  border-top-style: dotted;
  border-color:black;
  border-width:5px;
  width:20px;
}
h3{

color: #F1DDBF;
}
h1{
  color: #EBD8C3;
}
